.head-foot {
  background-color: lightcoral;
}

p {
  margin: 0;
}

header {
  padding: 1rem;
  grid-area: header;
}

aside {
  background-color: lightgreen;
  padding: 1rem;
  grid-area: sidebar;
}

main {
  padding: 1rem;
  grid-area: content;
  position: relative;
}

footer {
  padding: 1rem;
  grid-area: footer;
}

.App {
  /* text-align: center; */ 
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 400px auto;
  grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
